<div class="footer">

  <div class="panel-footer">
	<div class="center">
		<span class="text-muted">&copy University of Colorado Boulder</span>
	</div>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!--Back to top button! https://github.com/vfeskov/vanilla-back-to-top-->
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 45,
  backgroundColor: '#ddd',
  textColor: 'black'
})</script>
